div.main {
	div.author-wrapper {
		margin: 7.8rem auto 1rem;
		padding: 6rem 3rem;
		color:#FFF;
		background-color: #6ECBCF; 
		div.inner-wrapper {
			margin: 0 auto;
			display: flex;
			flex-flow: row wrap;
			max-width: 120rem;
		}
		div.author-img {
			flex: 1 0 15%;
			img {
				min-height: 150px;
				min-width: 150px;
				display: block;
				margin: 0 auto;
				border: .2rem solid #6ECBCF;
				border-radius: 50%;
			}
		}
		div.author-info {
			flex: 1 0 60%;
			padding: 0 1rem;
			h1 {
				font-size: 5rem;
				color:#FFF;
			}
			a {
				outline: none;
			}
			div.author-description {
				transition: height 5s ease-in-out;
			}
			.container-closed {
				height:5rem;
				overflow:hidden;
				transition: height 5s ease-in-out;
			}
			div.more {
				text-align: center;
				a i {
					font-size: 4rem;
					color:#FFF;
				}
			}
		}
		div.author-social {
			align-content: flex-start;
			flex: 1 0 25%;
			border-left: .1rem solid #FFF;
			p {
				font-size: 1.6rem;
				margin-left: 4.5rem;
			}
			i {
				font-size: 3rem;
				color: #FFF;
				&:hover {
					color:lightgrey;
				}
			}
			nav {
				padding-left: 4rem;
			}
			li {
				padding: 0;
				margin: 0;
			}
		}
	}
	section.author-posts {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		article.post {
			flex: 1 0 30%;
			max-width:380px;
			height:455px;
			margin: 1rem;
			padding: 1rem;
			text-align: center;
			border: .1rem solid grey;
			position: relative;
		}
		div.post-img {
			max-width: 100%; 
			overflow: hidden;
		}
		header.post-header {
			padding:0;
			h2 {
				padding: 2rem 0;
			}
		}
		main.post-excerpt {
			display: none;
		}
		footer.footer-post {
			position: absolute;
			bottom:0;
			left:45%;
			padding-bottom:1rem;
		}
	}	
}

//******************************
// Media Queries
//******************************

@media (max-width: 1060px) {
	div.main {
		div.author-wrapper {
			div.author-img {
				flex: 1 0 0%;
			}
			div.author-info {
				flex: 1 0 100%;
				padding: 0 1rem;
				order:4;
			}
			div.author-social {
				flex: 1 0 70%;
				order:1;
				border-left: none;
				p {
					padding-left:.8rem;
				}
				nav {
					padding-left: 0;
				}
				p, nav ul {
					margin:0;
				}
			}
		}
	}
}

@media (max-width: 400px){
	div.main {
		section.author-posts article.post {
			flex: 1 0 100%;
		}	
	}
}




