.main {
	position: relative;
	div.post-feature-img{
		width:100vw;
		height: 95vh;
		overflow: hidden;
		img {
			display: block;
			margin: 10rem auto;
		}
	}
	.overlay {
		position: absolute;
		margin: 0 auto;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding-top: 14%;
		width: 60%;
		height: 100%;
		text-align: center;
		p.category {
			text-transform: uppercase;
			font-style: normal;
			text-shadow:none;
			width:15%;
			margin: 0 auto;
			background-color: rgba(255,255,255,.5);
		}
		p.comment-number {
			font-style: normal;
		}
		h1 a{
			font-size: 6rem;
			text-transform: capitalize;
		}
		p {
			font-size: 1.6rem;
			font-style: italic;
			color: #FFF;
			text-shadow: 1px 1px 1px #616161;
		}
		a.continue-reading {
			margin: 1.5rem auto;
			padding: .5rem;
			letter-spacing: .1rem;
			color: #FFF;
			display: block;
			text-shadow: none;
			border: .1rem solid #FFF;
			border-radius: .2rem;
			width: 30%;
			font-style: normal;
			text-transform: capitalize;
			display: block;
			background-color: rgba(0,0,0,.4);
			&:hover {
				background-color: rgba(65,66,158,.5);
			}
		}
	}
	section.feature-posts {
		text-align: center;
		h2.title {
			letter-spacing: .1rem;
			margin: 0 auto;
			width: 22%;
			font-size: 5rem;
			border-bottom: .5rem dotted $grey;
			padding: 5rem 0 1rem;
		}
		article.post {
			border: .05rem solid $grey;
			margin: 3rem;
			padding: 3rem;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			div.post-img {
				flex: 1 0 50%;
			}
			div.inner-wrapper {
				flex: 1 0 50%;
			}
		} 
		p.category {
			text-transform: uppercase;
			font-size: 1.5rem;
		}
		h2.entry-title {
			font-size:3.5rem;
			line-height: 4.7rem;
			letter-spacing: .2rem;
			text-transform: capitalize;
		}
		div.post-excerpt p {
			font-size: 1.5rem;
			font-style: italic;
			width:80%;
			margin: 0 auto;
			padding: .5rem 2rem;
		}
		a.continue-reading {
			display: block;
			font-size: 1.5rem;
			text-transform: capitalize;
			margin: 1rem auto;
			font-style: normal;
			padding: .5rem .5rem;
			width: 52%;
			border: .05rem solid grey;
			border-radius: .3rem;
			transition: .5s all ease;
			&:hover {
				background-color: $purple;
				color:#FFF;
			}
		}
	}
}

//******************************
// Media Queries
//******************************

@media (max-width: 910px) {
	.main {
		div.post-feature-img{
			height: 70vh;
			img {
				display: block;
				margin: 10rem auto 0;
			}
		}
		.overlay {
			position: static;
			padding-top: 1rem;
			width:80%;
			p.category {
				text-transform: uppercase;
				font-style: normal;
				text-shadow:none;
				width:11%;
				margin: 0 auto;
				background-color: rgba(255,255,255,.5);
			}
			h1 a{
				font-size: 6rem;
				text-shadow:none;
				color:$grey;
				text-transform: capitalize;
				&:hover {
					color:$purple;
				}
			}
			p {
				font-size: 1.6rem;
				font-style: italic;
				color:$grey;
				text-shadow: none;
			}
			a.continue-reading {
				color:#FFF;
				background-color: grey;
				&:hover {
					background-color: $purple;
					color:#FFF;
				}
			}
		}
	}
}

@media (max-width:845px) {
	.main section.feature-posts {
		a.continue-reading {
			width:55%;
		}
	}
}

@media (max-width:810px) {
	.main section.feature-posts {
		a.continue-reading {
			width:60%;
		}
	}
}

@media (max-width:761px) {
	.main section.feature-posts {
		a.continue-reading {
			width:65%;
		}
	}
}

@media (max-width: 740px) {
	.main {
		section.feature-posts {
			h2.title {
				width: 38%;
			}
			article.post {
				padding:2rem;
				div.post-img {
					flex: 1 0 100%;
					order:4;
				}
				div.inner-wrapper {
					flex: 1 0 100%;
					order: 0;
				}
			} 
			a.continue-reading {
				width: 34%;
			}
		}
	}
}

@media (max-width: 647px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 36%;
		}
	}
}

@media (max-width: 638px) {
	.main {
		.overlay {
			a.continue-reading {		
				width:40%;
			}
		}
	}
}


@media (max-width: 621px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 40%;
		}
	}
}

@media (max-width: 580px) {
	.main {
		section.feature-posts {
			h2.title {
				width: 44%;
			}
		}
	}
}

@media (max-width: 576px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 43%;
		}
	}
}

@media (max-width: 548px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 45%;
		}
	}
}

@media (max-width: 511px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 54%;
		}
	}
}

@media (max-width: 500px) {
	.main {
		section.feature-posts {
			h2.title {
				width: 52%;
			}
		}
	}
}

@media (max-width: 479px) {
	.main {
		.overlay {
			a.continue-reading {		
				width:50%;
			}
		}
		section.feature-posts {
			a.continue-reading {
				width: 55%;
			}
		}
	}
}

@media (max-width: 446px) {
	.main section.feature-posts {
		a.continue-reading {
			width: 65%;
		}
	}
}

@media (max-width: 450px) {
	.main {
		div.post-feature-img{
			height: 60vh;
		}		
	}
}

@media (max-width: 400px) {
	.main {
		div.post-feature-img{
			height: 54vh;
		}
		.overlay {
			a.continue-reading {		
				width:100%;
			}
		}
		section.feature-posts {
			h2.title {
				width:90%;
			}
			a.continue-reading {
				width: 100%;
			}
		}
	}
}
