header.main-header {
	position: fixed;
	top: 0;
	width:100%;
	z-index: 2;
	background-color: #FFF;
	border-bottom: .15rem solid #F4EEEE;
	padding-top: 5rem;
	padding-bottom: 2rem;
	color: #0A133A;
	.container {
		display: flex;
		flex-flow: row wrap;	
		justify-content: flex-end;
		align-items: flex-end;
		div.logo {
			flex: 1 0 20%;
			text-align: left;
			padding-right:1rem;
		}
		nav {
			flex: 1 0 20%;
		}
		nav ul {	
		text-align: left;
		li a {
			font-size: 1.4rem;
			text-transform: uppercase;
			background-color: transparent;
			color: #0A133A;
			}
		}	
	form {
		flex: 1 0 46%;
		justify-conent:felx-start;
		position: relative;
		input[type=search] {
			border:none;
			border-bottom: .1rem solid $grey;
			outline: none;
			padding-left: 3rem;
			&:focus + i {
				color: #00AEC1;
			}		
			&:focus {
				color: #00AEC1;
				border-bottom: .1rem solid #00AEC1;
				}
			}
		i {
			position: absolute;
			left:0;
			top:.5rem;
			font-size: 1.2rem;
			}
		}
	}
}

//******************************
//Media Queries
//******************************
@media(max-width: 1064px ) {
	header.main-header {
		.container {
		form {
			flex: 1 0 43%;
			}
		}
	}
}

@media(max-width: 1049px ) {
	header.main-header {
		.container {
			div.logo {
				width: 100%;
				display: block;
				text-align: left;
			}
			nav {
				flex: 1 0 26%;
			}
			nav ul {	
			text-align: left;
			}	
		form {
			flex: 1 0 42%;
			}
		}
	}
}

@media(max-width: 939px) {
	header.main-header {
		.container {
			a#logo {
				flex:1 0 100%;
				display: block;
				div {
					text-align: center;
				}
			}
			nav {
				flex: 1 0 50%;
			}
			nav ul {	
				text-align: right;
			}	
			form {
				flex: 1 0 35%;
			}
		}
	}
}

@media(max-width: 575px) {
	header.main-header {
		.container {
			a#logo {
				flex:1 0 100%;
				display: block;
				div {
					text-align: center;
				}
			}
			nav {
				flex: 1 0 58%;
			}
			nav ul {	
				text-align: right;
			}	
			input[type=search] {
				width: 12rem;
			}
		}
	}
}

@media(max-width: 538px) {
	header.main-header {
		.container {
			a#logo {
				flex:1 0 100%;
				display: block;
				div {
					text-align: center;
				}
			}
			nav {
				flex: 1 0 56%;
			}
			nav ul {	
				text-align: right;
			}	
			input[type=search] {
				display: none;
			}
			form {
				flex: 1 0 5%;
			}
			form i {
				position: static;
			}
		}
	}
}

@media(max-width: 438px) {
	header.main-header {
		.container {
			nav {
				flex: 1 0 57%;
			}
			nav ul {	
				margin-left:0;
			}	
			li {
				margin: 0;
			}
		}
	}
}

@media(max-width: 430px) {
	header.main-header {
		.container {
			nav {
				flex: 1 0 62%;
			}
			nav ul {	
				margin-left:0;
			}	
			li {
				margin: 0;
			}
		}
	}
}

@media(max-width: 332px) {
	header.main-header {
		.container {
			nav {
				flex: 1 0 76%;
			}
		}
	}
}



