header {
	padding-top: 2rem;
	color: #0A133A;
	.container {
		display: flex;	
		justify-content: flex-end;
		align-items: center;
		h3.logo {
			flex: 1 0 40%;
			text-align: right;
		}
		nav {
			flex: 1 0 60%;
		}
	nav ul {	
		text-align: left;
		li a {
			text-transform: uppercase;
			background-color: transparent;
			color: #0A133A;
			}
		}	
	}
}