div.main-search {
	section.heading {
	margin-top: 7.8rem;
	background-color: #00AEC1;
	}
	div.search-results {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
		h1.results {
			flex: 1 0 20%;
			text-align:right;
			font-size: 4rem;
			padding: 6.5rem 0 6.5rem;
			font-style: italic;
			letter-spacing: .2rem;
			color: #6ECBCF;
			font-style: normal;
		}
		form {
			flex: 1 0 20%;
		}
		form input[type=search] {
			font-size: 4rem;
			font-style: italic;
			border: none;
			padding-left: 2rem;
			letter-spacing: .1rem;
			border-bottom: .1rem solid #FFF;
			background: #00AEC1;
			outline: none;
			&:focus {
				color: #FFF;
			}
		}
		form input[type=search]::-webkit-input-placeholder{
			color: #FFF;
		}
	}
}