$grey: #3f4346;
$purple: #41429E;

body {
	font-family: 'Roboto', sans-serif;
	color:$grey;
}

a {
	color: $grey;
	text-decoration: none;
	&:hover {
		color: $purple;
	}
}

/* h1 */
h1 a {
	color: #FFFFFF;
	font-size: 3rem;
	margin:0;
	text-shadow: 1px 1px 1px #616161;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	margin:0;
	color: #3f4346;
}

a h5 {
	font-family: 'Roboto', sans-serif;
	color: #78cdd4;
	font-size: 1.8rem;
	padding: 1.5rem 0 .5rem;
	font-weight: lighter;
	&:hover {
		color: lighten(#78cdd4, 10);
	}
}

h6 {
	font-size: 2.4rem;
	line-height: 3.5rem;
	padding: 3rem 0 .5rem;
	letter-spacing: .1rem;
	font-style: italic;
}

/* paragraphs */

p {
	font-size: 1.8rem;
	line-height: 1.7;
	margin:0;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}